.root {

    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    padding: 16px;
    width: min(400px, 90vw);
    border: 1px solid var(--color-border-muted);
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
}